<%= content_for :javascripts do %>

  <script type="text/javascript" src="/direct_api"></script>
  <script type="text/javascript">
    Ext.onReady(function(){
      Ext.Direct.addProvider(REMOTING_API);
    });


    
    Ext.onReady(function() {

 var fpItems =[
        {
          fieldLabel : 'File',
          allowBlank : false,
          inputType  : 'file',
          name : 'upload'
        }
      ];

      var formExample = new Ext.form.FormPanel({
        style: 'margin: 100px',
        width: '600',
        method: 'post',
        title: 'Test ExtDirect Call and Upload Form with xMethod',
        fileUpload: true,
        padding: 10,
        buttons:[{
            text: 'Submit',
            handler: function(){
              var data = formExample.getForm().getValues();
              formExample.getForm().api.submit.call(
              this,
              data
              );
            }
          }],
        renderTo: Ext.getBody(),
        defaultType: 'textfield',
        items: [{
            fieldLabel: 'Enter a number',
            name: 'number',
            msgTarget: 'side'
          },fpItems
        ],
        api: {
          // what's the difference between create and submit'
          //create: App.models.Category.create,
          submit: App.models.Category.all
        }
      });


  // provide feedback for any errors
  Ext.QuickTips.init();

  var languagesStore = new Ext.data.SimpleStore( {
    fields: [ 'name' ],
    data: [ [ 'Java' ], [ 'Javascript' ], [ 'C++' ], [ 'Perl' ], [ 'Python' ], [ 'Groovy' ], [ 'Scala' ] ]
  });

  var form = new Ext.FormPanel( {
    renderTo: Ext.getBody(),
    frame: true,
    fileUpload: true,
    width: 500,
    labelWidth: 180,
    defaults: {
      width: 300
    },
    defaultType: 'textfield',
    items: [ {
      xtype: 'datefield',
      fieldLabel: 'Pick a date',
      name: 'datefield'
    }, {
      xtype: 'combo',
      name: 'combo',
      fieldLabel: 'Favourite language',
      mode: 'local',
      store: languagesStore,
      displayField: 'name',
      forceSelection: true,
      triggerAction: 'all',
      valueField: 'name'
    }, {
      xtype: 'fileuploadfield',
      buttonOnly: false,
      id: 'form-file',
      fieldLabel: 'File (MUST be a text file)',
      name: 'fileUpload',
      buttonCfg: {
        text: '...'
      }
    }, textArea1 = new Ext.form.TextArea( {
      name: 'textArea',
      fieldLabel: "File contents",
      height: 200,
      width: 200,
      disabled: true
    }), {
      xtype: 'checkbox',
      fieldLabel: 'Check if you like ExtDirectSpring!',
      name: 'checkbox',
      width: 15
    } ],
    api: {
      submit: App.models.Category.upload
    },
    buttons: [ {
      text: "Submit",
      handler: function() {
        form.getForm().submit( {
          success: function(form, action) {
            textArea1.setValue(action.result.fileContents);
          },
          failure: function(form, action) {
            switch (action.failureType) {
            case Ext.form.Action.CLIENT_INVALID:
              Ext.Msg.alert('Failure', 'Form fields may not be submitted with invalid values');
              break;
            case Ext.form.Action.CONNECT_FAILURE:
              Ext.Msg.alert('Failure', 'Ajax communication failed');
              break;
            case Ext.form.Action.SERVER_INVALID:
              Ext.Msg.alert('Failure', action.result);
            }
          }
        });

      }
    }, {
      text: "Reset",
      handler: function() {
        form.getForm().reset();
      }
    } ]
  });



});


  </script>


<% end %>


<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to 'Show', category %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>