<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="phoenixR, Stephan Keller" />
    <title>phoenixR Backend</title>
    <%= csrf_meta_tags %>
    <%= ext_base_tag %>
    <%= ext %>
    <%= ext_direct_provider %>


    <%= javascript_include_tag "typo3/backend/backend" %>
    <script type="text/javascript">
      F3.TYPO3.Configuration.Application.workspaceName = 'user-skeller1';
      F3.TYPO3.Configuration.Application.siteName = 'TYPO3 Phoenix Demo Site';
      F3.TYPO3.Configuration.Application.siteNodePath = '/sites/phoenixdemotypo3org';
      F3.TYPO3.Configuration.Application.contextLocale = 'mul';
      F3.TYPO3.Configuration.Application.version = '5.0.0 Sprint 6';
    </script>
    <%= stylesheet_link_tag "typo3/backend/backend" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>